<a href="https://colab.research.google.com/github/Andree-trg/Pemerograman-Dasar/blob/main/Pertemuan_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
total = input("Berapa porsi makan yang Anda beli? :")
Nama = input("Siapa Nama Pelanggan ? :")

Berapa porsi makan yang Anda beli? :1
Siapa Nama Pelanggan ? :Andre

In [2]:
total = int (input("Berapa porsi makan yang Anda beli? :"))
Nama = str (input("Siapa Nama Pelanggan ? :"))

Berapa porsi makan yang Anda beli? :1
Siapa Nama Pelanggan ? :Andre

In [42]:
total = float(input("Berapa porsi makan yang Anda beli? : "))
Nama = str(input("Siapa Nama Pelanggan ? : "))
print(f"Nama Pelanggan : {Nama}")
print(f"Jumlah Porsi   : {total}")

Berapa porsi makan yang Anda beli? : 1
Siapa Nama Pelanggan ? : Andre
Nama Pelanggan : Andre
Jumlah Porsi   : 1.0

In [3]:
food = "Mie Ayam Bakso"
print("Hendi sedang memesan", food)

Hendi sedang memesan Mie Ayam Bakso

In [5]:
food = "Mie ayam bakso"
print("Hendi sedang memesan", food)
print("Hendi sedang memesan "+ food)
print("Hendi sedang memesan %s" % (food))

Hendi sedang memesan Mie ayam bakso
Hendi sedang memesan Mie ayam bakso
Hendi sedang memesan Mie ayam bakso

In [43]:
umur = 20
print("Umur saya %d tahun" % umur)

nilai = 87.56789
print("Nilai ujian saya adalah %.2f" % nilai)

makanan = "Mi ayam bakso"
print("Hendi sedang memesan %s" % makanan)

angka_hex = 255
print("Bilangan %d dalam heksadesimal adalah %x" % (angka_hex, angka_hex))

angka_oktal = 64
print("Bilangan %d dalam oktal adalah %o" % (angka_oktal, angka_oktal))

Umur saya 20 tahun
Nilai ujian saya adalah 87.57
Hendi sedang memesan Mi ayam bakso
Bilangan 255 dalam heksadesimal adalah ff
Bilangan 64 dalam oktal adalah 100

In [8]:
a = 20
b = 5
print("Penjumlahan:", a + b)
print("Pengurangan:", a - b)
print("Perkalian:", a * b)
print("Pembagian:", a / b)

Penjumlahan: 25
Pengurangan: 15
Perkalian: 100
Pembagian: 4.0

In [12]:
harga_makan = int(input("Berapa harga mie ayam per porsi? "))
jumlah_makan = int(input("Berapa porsi yang Anda beli? "))
total_makan = harga_makan * jumlah_makan

print(f"Harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

Berapa harga mie ayam per porsi? 10000
Berapa porsi yang Anda beli? 1
Harga makan per porsi = 10000, totalnya adalah 10000

In [13]:
bilangan = 8
hasil = (bilangan > 0) and (bilangan % 2 == 0)
print("Genap dan positif?", hasil)

Genap dan positif? True

In [14]:
#konversi waktu
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60
print(f"Hasil Konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Hasil Konversi: 1 Jam, 0 Menit, 0 Detik

In [37]:
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60
print(f"Hasil Konversi: {jam} Jam, {menit} Menit, {detik} Detik")
total_detik = int (input("total_detik"))

Hasil Konversi: 1 Jam, 0 Menit, 0 Detik
total_detik358200

In [20]:
tugas = 80
uts = 70
uas = 90
nilai_akhir = (0.3 * tugas) + (0.3 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

Nilai akhir = 81.0

In [33]:
nilai_mahasiswa = 85 # isikan dengan nilai
standar_kelulusan = 75 # isikan nilai standard
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan
print(f"Nilai Mahasiswa: {nilai_mahasiswa}")
print(f"Standar Kelulusan: {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remedial}")

Nilai Mahasiswa: 85
Standar Kelulusan: 75
Apakah Mahasiswa Lulus? True
Perlu Remedial? False

In [44]:
tugas1 = float(input("Masukkan nilai Tugas 1: "))
tugas2 = float(input("Masukkan nilai Tugas 2: "))
tugas3 = float(input("Masukkan nilai Tugas 3: "))
uts = float(input("Masukkan nilai UTS: "))
uas = float(input("Masukkan nilai UAS: "))

nilai_mahasiswa = (tugas1 + tugas2 + tugas3 + uts + uas) / 5

standar_kelulusan = float(input("Masukkan standar kelulusan: "))

apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remedial = nilai_mahasiswa < standar_kelulusan

print(f"\nNilai Mahasiswa     : {nilai_mahasiswa}")
print(f"Standar Kelulusan   : {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial?       {perlu_remedial}")

Masukkan nilai Tugas 1: 85
Masukkan nilai Tugas 2: 90
Masukkan nilai Tugas 3: 100
Masukkan nilai UTS: 88
Masukkan nilai UAS: 90
Masukkan standar kelulusan: 79

Nilai Mahasiswa     : 90.6
Standar Kelulusan   : 79.0
Apakah Mahasiswa Lulus? True
Perlu Remedial?       False

In [34]:
belanja = 850000
diskon = (0, 0.1 * belanja)[belanja > 50000]
total_harga = belanja - diskon
print("Total harga setelah diskon=", total_harga)

Total harga setelah diskon= 765000.0

In [35]:
belanja = 1200000
diskon = (0, 0.35 * belanja)[belanja > 50000]
total_harga = belanja - diskon
print("Total harga setelah diskon=", total_harga)

Total harga setelah diskon= 780000.0